.about-text{
    font-size: 20px;
    line-height: 1.25;
    padding-left: 0px;
}

img{
    height: 400px;
}

.jumbotron{
    height: 200px;
    padding: 2rem 1rem;

}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.firstp{
    padding-bottom: 30px;
}