h4{
    display: inline;
}

.space{
    padding-bottom: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group{
    width: 400px;
}

.card{
    width: 300px;
}