.experience{
    position: relative;
}

.title{
    position: absolute;
    top: 275px;
    left: 50px;
}

img{
    height: 200px;
    padding: 50px;
}

.row1{
    display: flex;
    justify-content: space-evenly;
}

.row2{
    display: flex;
    justify-content: space-between;
}