.hero-text{
    position: fixed;
    left: 180px;
    bottom: 260px;
    color: white;
    font-size: 100px;
    font-weight: 700;
}

.hero-text a{
    text-decoration: none;
}

.hero-text a:hover{
    text-decoration: underline;
}

.hero-text a:visited{
    color: black;
}

.hero-image{
    opacity: 0.6;
    overflow: hidden;
}