.hero-text{
    position: fixed;
    left: 400px;
    top: 200px;
}

.hero-image{
    position: fixed;
    left: 700px;
    top: 80px;
    height: 550px;
    border-radius: 15px;
}

body{
    background-color: #fefaf6;
}