.hero-text{
    position: fixed;
    left: 350px;
    top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-text a{
    text-decoration: none;
}

.hero-text a:hover{
    text-decoration: underline;
}

.hero-text a:visited{
    color: black;
}

.hero-image{
    position: fixed;
    left: 750px;
    top: 80px;
    height: 550px;
    border-radius: 15px;
}

body{
    background-color: #fefaf6;
}