/* I applied the DRY principle (which I got a 4 on) by creating
this style sheet and applying it to all pages instead of repeating
this code in my specific style sheets for each page. */

body{
    background-color: #fefaf6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: white;
    height: 70px;
    font-size: 18px;
}