/* I applied the DRY principle (which I got a 4 on) by creating
this style sheet and applying it to all pages instead of repeating
this code in my specific style sheets for each page. */
/* .navbar{
    position: sticky;
    top: 5px;
    padding-left: 20px;
    padding-top: 20px;
    width: 400px;
    display: flex;
    justify-content: space-between;
} */

/* .navbar a{
    text-decoration: none;
    padding-bottom: 10px;
}

.navbar a:hover{
    padding-bottom: 6px;;
    border-bottom: 4px solid rgb(136, 209, 246);
  }

.navbar a:visited{
    color: black;
} */

body{
    background-color: #fefaf6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: white;
    height: 70px;
    font-size: 18px;
}